<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
      <div class='logo footer__logo text-start'>
            <img src="https://files.fullstack.edu.vn/f8-prod/user_avatars/1/623d4b2d95cec.png" alt="logo" >
            <h5>F8 Education</h5>
            <p>Trang Web dành cho người mới bắt đầu, từ zero thành hero</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <h5 class='footer__title'>Thời Gian Mở Giảm Giá Các Khóa Học</h5>
        <ListGroup class='delivery__time-list'>
           <ListGroupItem class='delivery__time-item border-0 ps-0'>
              <span>Sunday - Thursday</span>
              <p>10:00pm - 11:00pm</p>
           </ListGroupItem>

           <ListGroupItem class='delivery__time-item border-0 ps-0'>
              <span>Friday - Saturday</span>
              <p>Off Day</p>
           </ListGroupItem>
        </ListGroup>   
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
      <h5 class='footer__title'>Địa Chỉ Liên Hệ</h5>
        <ListGroup class='delivery__time-list'>
           <ListGroupItem class='delivery__time-item border-0 ps-0'>
              <p>Vị trí: ZindaBaZah, Zilent-300,Bazaha Luffy</p>
              
           </ListGroupItem>
           <ListGroupItem class='delivery__time-item border-0 ps-0'>
             <span>Phone: 123456789</span>
             <br/>
             
           </ListGroupItem>
           <ListGroupItem class='delivery__time-item border-0 ps-0'>
              <span>Email: example@gmail.com</span>
           </ListGroupItem>
        </ListGroup>   
      </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
      <h5 class='footer__title'>NewSletter</h5>
      <p>Subcribe our NewSletter</p>
      <div class='newsletter'>
        <input type='text' placeholder='Enter Your Email'/>
        <span><i class="fa-solid fa-paper-plane"></i> </span>
      </div>
      </div>
    </div>

    <div class="row mt-5">
          <div class="col-lg-6 col-md-6">
            <p class="copyright__text">
              Copyright - 2022, website made by Muhibur Rahman. All Rights
              Reserved.
            </p>
          </div>

          <div lg="6" md="6">
            <div class="social__links d-flex align-items-center gap-4 justify-content-end">
              <p class="m-0">Follow: </p>
              <span>
              
                <a href="https://www.facebook.com/nvv187">
                  <i class="fa-brands fa-facebook"></i>
                </a>
              </span>

              <span>
                <a href="https://github.com/muhib160">
                  <i class="fa-brands fa-github"></i>
                </a>
              </span>

              <span>
                <a href=" https://www.youtube.com/c/MuhibsTechDiary">
                 <i class="fa-brands fa-youtube"></i>
                </a>
              </span>

              <span>
                <a href=" https://www.linkedin.com/in/muhib160/">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
    </div>
    </footer>