<div class="search-form mt-4 ">
    <form method="POST" action="">
  <div class="form-group">
    <label for="search-input">Vui lòng nhập tên khóa học</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập từ khóa">
  </div>

   <div class="form-group">
    <label for="gender-input">Vui lòng chọn giá tiền</label>
    <select  name="gender" class="form-control" id="gender-input">
        <option value="">---Chọn giá---</option>
        <option value="male">Trên 20$</option>
        <option value="female">Dưới 20$</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>